<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <!--上面的xsi:schemaLocation需要补充完整 -->

    <!-- 用来自动探测@Controller等标签的服务类 -->
    <context:component-scan base-package="com.xtihha.study.restlet"/>

    <bean id="annotationManager"
          class="com.xtihha.study.restlet.manager.annotation.AnnotationManager"/>
    <!--<bean id="annotation2Manager" class="com.xtihha.study.restlet.manager.annotation.Annotation2Manager"
        /> -->

    <!--通过order属性可以实现多个ViewResolver -->
    <bean id="viewResolverJsp"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> -->
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.InternalResourceView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
    </bean>

    <bean id="viewResolverFtl"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=utf-8"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".ftl"/>
        <!--同时存在jsp和ftl的view resolver，可以通过order属性进行顺序配置 -->
        <property name="order" value="0"/>
    </bean>

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/view/"/>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape"/>
            </map>
        </property>
        <property name="defaultEncoding">
            <value>utf-8</value>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="url_escaping_charset">UTF-8</prop>
                <prop key="whitespace_stripping">true</prop>
                <prop key="classic_compatible">true</prop>
            </props>
        </property>
    </bean>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>

    <!--
    如果注释后面的urlMapping，才可以通过定义的bean name进行url mapping处理
    目前测试发现直接通过bean name和urlMapping无法同存
    -->
    <bean id="primitivedemo" name="/primitivedemo"
          class="com.xtihha.study.restlet.service.PrimitiveDemoController">
        <property name="viewName" value="ftl/primitivedemo"/>
    </bean>

    <bean id="primitivedemo2" class="com.xtihha.study.restlet.service.PrimitiveDemoController">
        <property name="viewName" value="ftl/primitivedemo"/>
    </bean>

    <!--如果使用url mapping，也会让程序里的@Controller annotation失效 -->
    <!--<bean id="urlMapping"-->
          <!--class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
        <!--<property name="mappings">-->
            <!--<props>-->
                <!--<prop key="/primitivedemo">primitivedemo</prop>-->
                <!--<prop key="/primitivedemo2">primitivedemo2</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
</beans>